<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="managerDao" class="com.gs.dao.impl.ManagerDAOImp" autowire="byName"></bean>
	<bean id="managerService" class="com.gs.service.impl.ManagerServiceimpl" autowire="byName"></bean>
	<bean id="managerAction" class="com.gs.controller.ManagerAction" autowire="byName" scope="prototype"></bean>
</beans>