@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}


.turntable-bg {
	width:531px;
	margin:40px auto 0 auto;
	height:531px;
	position:relative;
	background:url("../images/turntable-bg2.png");
}
.turntable-bg .mask {
	width:454px;
	height:451px;
	position:absolute;
	left:116px;
	top:60px;
	/*z-index:9;*/
}
.turntable-bg .pointer {
	width:174px;
	height:228px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-94px;
	margin-top:-130px;
	z-index:8;
}
.turntable-bg .rotate {
	width:450px;
	height:450px;
	position:absolute;
	left:40px;
	top:38px;
}