* {font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;margin: 0;padding:0;}
html {font-size: 14px;color: #424242;}
table {border-collapse: collapse;border-spacing: 0;text-align: center;}
ol, ul {list-style: none;}
dl {-webkit-margin-before:0;-webkit-margin-after:0;}
h1, h2, h3, h4, h5, h6 {font-size: 14px;}
a {text-decoration: none;color:#424242;}
a:hover, .color81 a:hover, .color81 a.cur {color: #000}
a.red {color: #c01920;}
a.red:hover {color: #950b11;}
.color81, .color81 a {color:#818181;}
input, button, input[type="button"] {outline: none;}
button, input[type="button"] {color:#FFF;background-color: #00baf2;line-height: 30px;border:none;padding:5px;border-radius: 5px;cursor: pointer;}
button:hover, input[type="button"]:hover {opacity: .9;}
body {color: #424242;font-size:14px;line-height:1.75;text-align: left;background:#FFF;min-width: 1230px;}

/* other */
input.iw60 {width: 60px;}
input.iw80 {width: 80px;}
img {border:none;}
.red {color: #c01920;}
.blue {color:#00baf2;}
.redb {background: #c01920;color: #FFF;}
.disabled {background: #999;}
.del {text-decoration: line-through;}
.disp-n {display: none;}
.fb {font-weight: bold;}
.img img {width: 100%;height: 100%;overflow: hidden;}

/* Font Size */
.f12{font-size: 12px;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f20{font-size: 20px;}
.f22{font-size: 22px;}
.f24{font-size: 24px;}
.f26{font-size: 26px;}
.f28{font-size: 28px;}
.f30{font-size: 30px;}

/*Margin-Arrays*/
.ml-10 {margin-left: -10px;}
.ml-20 {margin-left: -20px;}
.mt5   {margin-top: 5px;}
.mt10  {margin-top: 10px;}
.mt15  {margin-top: 15px;}
.mt20  {margin-top: 20px;}
.mt25  {margin-top: 25px;}
.mt30  {margin-top: 30px;}
.mt40  {margin-top: 40px;}
.mt50  {margin-top: 50px;}
.mt80  {margin-top: 80px;}
.mt100 {margin-top: 100px;}
.mb5   {margin-bottom: 5px;}
.mb10  {margin-bottom: 10px;}
.mb15  {margin-bottom: 15px;}
.mb20  {margin-bottom: 20px;}
.mb25  {margin-bottom: 25px;}
.mb30  {margin-bottom: 30px;}
.mb40  {margin-bottom:40px;}
.mb50  {margin-bottom: 50px;}
.mb80  {margin-bottom: 80px;}
.mb100 {margin-bottom: 100px;}
.ml5   {margin-left:5px;}
.ml10  {margin-left: 10px;}
.ml15  {margin-left: 15px;}
.ml20  {margin-left: 20px;}
.ml24  {margin-left: 25px;}
.ml30  {margin-left: 30px;}
.ml40  {margin-left:40px;}
.ml50  {margin-left: 50px;}
.ml80  {margin-left: 80px;}
.ml100 {margin-left: 100px;}
.mr5   {margin-right:5px;}
.mr10  {margin-right: 10px;}
.mr15  {margin-right: 15px;}
.mr20  {margin-right: 20px;}
.mr25  {margin-right: 25px;}
.mr30  {margin-right: 30px;}
.mr40  {margin-right: 40px;}
.mr50  {margin-right: 50px;}
.mr80  {margin-right: 80px;}
.mr100 {margin-right: 100px;}

.con {padding-left: 20px;}
.border-bom1 {border-bottom: 1px solid #ddd;}

/* text pos */
.tl {text-align: left;}
.tc {text-align: center;}
.tr {text-align: right;}

/* 清除浮动 */
.fl,.Left {float: left;}
.fr,.Right {float: right;}
.clear {clear: both;width: 0px;height: 0px;overflow: hidden;}
.clearfix:after { content: ".";display: block;height: 0;clear: both;visibility: hidden; } 
.clearfix {display: block;height: 1%;zoom: 1;}* html
.Clearfix {display: block;} /* for IE/Mac */

/* 透明背景层 */
.mask, .Mask {width:100%;height:100%;position:fixed;background: url(https://s1.51cto.com/images/201611/95dc798763e7191d096823b51600438a1218c0.png);top:0px;left:0px;z-index:9999;display: none;}

/*ALL Pages use*/
.Page {width:1200px;margin:auto;position: relative;z-index: 2;}
.Header {padding:50px 0px 40px 0px;height: 40px;border-bottom: 1px solid #EEE;background: #FFF;position: relative;z-index: 100;}
.Header .Logo {margin-top: 0;margin-right: 45px;}
.Header .Logo img.sublogo {margin-left: 15px;margin-top: 5px;}
.Header .Navigate {margin-left: 0;}
.Header .Navigate li {float: left;font-size: 16px;line-height: 1;padding-top:24px;padding-right: 30px;*padding-right: 25px;position: relative;padding-bottom: 10px;margin-bottom: -10px;}
.Header .Navigate li p.min_more    {background: url(../images/tips.png) no-repeat right center;padding-right: 10px;font-size: 16px;cursor: default;}
.Header .Navigate li:hover p.min_more  {background-image: url(../images/tips2.png)}
.Header .Navigate li div.min_more   {position: absolute;top:50px;z-index: 101;background: #FFF;left: -20px;right: 10px;display: none;border:1px solid #EEE;border-radius: 3px;line-height: 36px;}
.Header .Navigate li:hover div.min_more {display: block;box-shadow: 0 6px 12px rgba(0,0,0,.175);}
.Header .Navigate li div.min_more a {display: block;text-align: center;}
.Header .Navigate li {float: left;font-size: 16px;line-height: 1;padding-top:24px;padding-right: 30px;*padding-right: 25px;}
.Header .Search {height: 22px;border:1px solid #15b1e4;border-radius: 5px;background-color: #15b1e4;margin-top: 20px;width:180px;}
.Header .Search * {height: 22px;line-height: 22px;}
.Header .Search button  {background-color: transparent;border:none;color:#FFF;width: 50px;line-height: 1;padding:0;}
.Header .Search input {border:none;width: 130px;text-indent: 5px;border-top-left-radius: 4px;border-bottom-left-radius: 4px;font-size: 12px;padding: 0;}

.Content  {padding:20px 0;}
.Footer {background-color: #f5f5f5;padding-bottom: 40px;border-top:1px solid #EEE;}
.Footer .Links  {overflow: hidden;padding:15px 0px;line-height: 40px;border-bottom: 1px solid #FFF;}
.Footer .Links dt {float: left;width: 125px;font-size: 16px;}
.Footer .Links dd {float: left;width: 1075px;}
.Footer .Links dd a{margin-right: 30px;white-space:nowrap}
.Footer>.Page  {padding-top: 55px;}
.Footer .QRcode {margin:0 50px;width: 280px;float: left;}
.Footer .QRcode caption {padding-bottom: 30px;}
.Footer .Info  {margin-top: 70px;line-height: 1}
.Footer .Info .Map  {margin-bottom: 45px;font-size: 14px;}
.Footer .Info .Map a,.Footer .Info .Map span  {margin-right: 15px;}
.Footer .Info .Map span {border-left: 1px solid #AAA;}
.Footer .Info .Call {font-size: 22px;font-weight: bold;padding-left: 30px;background: url(../images/call.png) no-repeat left 1px;margin-right: 30px;}
.Footer .Info .callTime {margin-top: 6px;}
.Footer .Info .copy {color: #818181;margin-top: 15px;font-size: 14px;text-align: left;}
.Footer .Info .copy a {color: #818181;}
.Footer .Info .copy a:hover {color: #000;}

/*分页*/
.pagination  {margin: 30px auto;text-align: center;font-size: 18px;}
.pagination li  {display:inline-block;margin:0px 2px;height: 30px;line-height: 30px;overflow: hidden;background: #FFF;border:1px solid #EEE;}
.pagination li  {*display:inline;}
.pagination li.disabled,.pagination li.disabled:hover {border-color:#EEE;padding:0px 10px;cursor: default;}
.pagination li.active,.pagination li:hover  {border-color: #00baf2;}
.pagination li:last-child.last.disabled {border-color:#FFF;font-size: 14px;color: #818181}
.pagination li a{display: block;padding:0px 10px;}
.pagination li.active a,.pagination li a:hover{background: #00baf2;color:#FFF;}

.Advice {position: fixed;width: 588px;height: 392px;padding:7px 6px;background:#FFF url(../images/zxtzbk.png) no-repeat;top:50%;left: 50%;margin-top: -203px;margin-left: -300px;z-index: 50001;}
.Advice .Main {font-size: 12px;padding:20px 20px 40px 40px;position: relative;}
.Advice .Main h3  {font-size: 16px;color: #c01a20;font-weight: bold;margin-top: 10px;}
.Advice .Main a {font-size: 14px;color: #0c72f0;}
.Advice .Main .close  {position: absolute;top:0px;right: 2px;width: 40px;height: 40px;border-radius: 0;background: #c01a20 url(../images/close.png) no-repeat center center;font-family: Arial;padding: 0;text-align: center;line-height: 1;}
.Advice .Main #bizQQ_WPA  {position: absolute;right: 20px;bottom: -20px;width: 152px;height: 49px;background: url(https://s1.51cto.com/images/201612/c14bf7e41480992525e379f0ee3f2482adfd03.png) no-repeat; padding:0;border-radius: 0;}
.Notices  {border:1px solid #e5e5b5;background-color: #ffffca;position: relative;line-height: 30px;padding:5px 10px;}

/*vip标识-红色*/
.vipBig {display: inline-block !important;width: 26px;height: 26px;background: url(../images/vip.png) no-repeat left -114px;cursor: pointer;}
.vipMedium {display: inline-block !important;width: 22px;height: 22px;background: url(../images/vip.png) no-repeat left -240px;cursor: pointer;}
.vipSmall {display: inline-block !important;width: 20px;height: 20px;background: url(../images/vip.png) no-repeat left bottom;cursor: pointer;}
.vipSide {position: relative !important;display: inline-block !important;width: 15px !important;height: 15px !important;background: url(../images/vip.png) no-repeat left top;cursor: pointer;}

/*vip标识-灰色*/
.vipBig_gray {display: inline-block !important;width: 26px;height: 26px;background: url(../images/vip_26.png) no-repeat;cursor: pointer;}
.vipMedium_gray {display: inline-block !important;width: 22px;height: 22px;background: url(../images/vip_22.png) no-repeat;cursor: pointer;}
.vipSmall_gray {display: inline-block !important;width: 20px;height: 20px;background: url(../images/vip_20.png) no-repeat;cursor: pointer;}
.vipSide_gray {position: relative !important;display: inline-block !important;width: 15px !important;height: 15px !important;background: url(../images/vip_15.png) no-repeat;cursor: pointer;}
.vipSide_gray:hover span {display: block;}
.vipSide_gray span {position: absolute;left: -58px;top: 20px;display: inline-block;width: 128px;height: 32px;text-align: center;line-height: 32px;background: #faf7e6;border: 1px solid #ecb7a5;color: #666;font-size: 12px;padding: 3px 5px;display: none;}
.vipSide_gray span i {position: absolute;left: 58px;top: -6px;display: inline-block;width: 12px;height: 7px;background: url(../images/hidearro.png) no-repeat;}
.vipSide_gray span b {display: inline-block;font-style: normal;font-weight: normal;font-size: 12px;color: #f60;}